<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-right">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path ('home') }}">Accueil
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{  path ('liste_campus') }}">Campus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('liste_villes') }}">Villes</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('profil') }}">Mon Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('logout') }}">Se déconnecter</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('login') }}">Se connecter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path ('user_register') }}">S'inscrire</a>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>
